.about {
  width: calc((100%/12)*8);
  padding-bottom: 120px;
  margin: 52px auto;
}
.about__container {
  display: flex;
  justify-content: space-between;
}

.about__left {
  width: calc((100%/12)*3);
  margin-right: 30px;
}

.about__left {
  width: calc((100%/12)*5);
  margin-right: 30px;
}