.conclusion {
  position: relative;
  min-height: 1460px;
  overflow: hidden;

  @include tablets {
    background: url('~images/bg/Budda_768.jpg') center top / cover no-repeat;
  }
  
  @include phones {
    background: url('~images/bg/Budda_480.jpg') center top / cover no-repeat;
  }
}