.footer {
  height: 407px;
  background-color: #1f232d;
  color: #fff;
  padding-top: 100px;
  position: relative;
}

.year-created {
  font-size: 47px;
  font-weight: 600;
  width: 222px;
  display: inline-block;
}

.user-info {
  width: 253px;

  &___username--footer {

  }

  &__desc--footer {

  }
}

.menu-info {
  width: 977px;
  position: relative;
  display: inline-block;
}