.user {
  &__title{
    &-desc {
      max-width: 280px;
      display: flex;
      flex-wrap: wrap;     
      font-size: 18px;
      font-weight: 600;
      }
  }
  
  &__name {
    font-size: 72px;
    font-weight: 900;
    line-height: 4.5rem;
  }
}





