.menu {
  &--color-white {
    color: #fff;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  margin-right: 8%;

  &:hover {
    opacity: 0.5;
    }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;
}

.menu-column {
  font-weight: 600;
  margin-bottom: 70px;
  
  &__item {
    margin-bottom: 11%;

    &:hover {
      opacity: 0.5;
      }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
