.middle-section {
  padding: 140px 0;
  position: relative;
  background: #fff;

  @include desktop {
    padding: 185px 0;
  }

  @include tablets {
    padding: 100px 0;
  } 
  
  @include phones {
    padding: 90px 0;
  }
}