.parallax { 
  width: 100%;

  &__image {
    position: absolute;
    z-index: -100;
  }
}

.parallax-down { 
  /* width: 100%; */
  &__image {
    position: absolute;
    /* background-position: cover; */
    /* height: 100%; */
    z-index: -100;
  }
}