.parallax { 
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  &__image-budda {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include tablets {
    left: 0;
    transform: translateX(0);
  }
  
}

.parallax__image {
  background-image: url("./../images/content/Mountain_1800.jpg");
}


.parallax--mountians {
  min-width: 1800px;
}


.parallax--budda {
  min-width: 1800px;
}

