.skills__col {
	float: left;
	width: 50%;
	min-height: 1000px;
	position: relative;

	&_left {
		/* background: lightgray; */

		.skills__triangle {
			left: 0;
			fill: lightgray;
		}
	}

	&_right {
		/* background: lightgray; */

		.skills__triangle {
			right: 0;
			fill: lightgray;
		}
	}
}