.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  fill: $text-color;
  width: 28px;
  height: 28px;
  display: block;

  &:hover {
    opacity: 0.5;
    }
}