.triangles {
  display: flex;
  margin-top: -120px;
  color: #fff;

  &__item {
    width: 50%;
    display: block;
    height: 120px;
    fill: currentColor;
  }
}

.triangles-reverse {
  display: flex;
  color: #fff;
  margin-top: 120px;

  &__item {
    width: 50%;
    display: block;
    height: 90px;
    fill: currentColor;
  }
}

