.welcome-section {
  position: relative;
  
  /* @include desktopHd {
    background: url('~images/content/Mountain_1800.jpg') center top no-repeat / cover;
  }
  

  @include tablets {
    
  }
  
  @include phones {
    
  } */

}