.welcome-section {
  position: relative;
 

  @include tablets {
    background: url('~images/bg/baloon_768.jpg') center top / cover no-repeat;
  }
  
  @include phones {
    background: url('~images/bg/baloon_480.jpg') center top / cover no-repeat;
  }

}