script(type="text/x-template")#reviews-container
  .review-content
    .reviews-container__head
      h2.section-title.section-title--reviews Что обо мне говорят
      .reviews-btns
        button(@click="slide('prev')" type='button'  :disabled="activePage === 0").reviews-btns__slider
          .icon-arrow.reviews-btns__slider--prev
        button(@click="slide('next')").reviews-btns__slider
          .icon-arrow.reviews-btns__slider--next
    slideshow(
      :reviews="reviews",
    )


script(type="text/x-template")#slideshow-reviews
  .reviews-slideshow(:groupCells: 2)
    .reviews-slideshow__item(v-for="review in reviews" :key="review.id")
      .reviews-slideshow__item--desc
        | {{review.text}}
      .reviews-slideshow__item--author
        .avatar.author__avatar
          img(:src="" alt="Author photo").avatar__pic
        .author__info
          h2.author__name {{review.author}}
          .author__position {{review.occ}}