.conclusion
  //- .parallax.
  //-   +image("content/Budda_1800.jpg", "parallax-down__image")
  .parallax.parallax--budda
    +image("content/Budda.jpg", "parallax__image-budda")
    

  include ../sections/comments.pug
  include ../sections/feedback.pug