.conclusion
  section.parallax-down
    - for (var i = 1; i <= 4; i++)
      .parallax-down__layer(data-speed=`${0.1 + (i/2.5)/10}`)
        picture
          img(srcset=require(`images/parallax/budda_${i}.${i === 1 ? 'jpg' : 'png'}`)).parallax-down__image
    

  include ../sections/reviews.pug
  include ../sections/feedback.pug