footer.footer
  
  +nav('nav', [
    {title: 'Главная', link: '#'},
    {title: 'Обо мне', link: '#'},
    {title: 'Навыки', link: '#'},
    {title: 'Работы', link: '#'},
    {title: 'Отзывы', link: '#'},
    {title: 'Связаться', link: '#'}
  ])
    