header.header
  .container.flex.flex__row
    .header__logo KD

    +nav('nav', [
      {title: 'Главная', link: '#'},
      {title: 'Обо мне', link: '#'},
      {title: 'Навыки', link: '#'},
      {title: 'Работы', link: '#'},
      {title: 'Отзывы', link: '#'},
      {title: 'Связаться', link: '#'}
    ])

    .socials
      ul.socials__list
        each social in ["insta", "vk", "github"]
          li.socials__item
            a(class=`socials__link.socials__link_${social}` href="#" target="_blank")
              +icon(`${social}`, `icon_${social}`)