section.section.author
  include ../sections/header.pug 
  .user
    .container
      .user__title.flex-container.flex-container__column
        .user__title-desc Личный сайт веб разработчика
        .user__name Дмитрий Крюков
        .scroll
          span.text Скролл
          .icon-scroll
      .user__about.flex-container.flex-container__row
        .user__about-info
          +image('content/user.jpg', 'user__about-pic')
          p Проживаю: Канадаб Монтреал
          p Возраст: 40 лет
          p Родился: 19 января 1980          
        .user__about-desc
          p Привет меня зовут
          .user__name-small Дмитрий Крюков
          p До веб разработки я был графическим дизайнером. В недавнем времени я решил улучшить свои навыки в программировании, потому что это актуально на сегодняшний день.
          .note * Этот сайт я разработал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


      

