section.skills#skills
  .container.skills__container
    .skills__wrapper
      .skills__title
        .skills__title-container
          .skills__title-text Чем я могу быть полезен вам
          .skills__desc
            p В данном разделе вы можете увидеть все мои навыки, полученные во время обучения и опыта работы. Я имею большой опыт в графическом дизайне, который мне поможет во Frontend разработке. Также в процессе обучения у меня были проекты связанные с Backend.
      .skills__widget
        #skills-component