section.skills
   +image('content/backpack.png', 'skills-pic')
   .skills__
  h1 Чем я могу быть полезен вам
  p В данном разделе вы можете увидеть все мои навыки, полученные во время обучения и опыта работы. В процессе обучения я повышаю свои навыки и могу их здесь обновить или добавить.