section.skills#skills
  .skills__backgound
    +image('content/backpack.png', 'backpack-image')
  .container
    .values__title
      h2.values__title-text Чем я могу быть полезен вам
      .values__desc
        p В данном разделе вы можете увидеть все мои навыки, полученные во время обучения и опыта работы. Я имею большой опыт в графическом дизайне, который мне поможет во Frontend разработке. Также в процессе обучения у меня были проекты связанные с Backend.
    
      ul.skills-group
        -
          var skills = [
            ['Front-end', ['HTML5', 'CSS', 'Javascript', 'Jquery']],
            ['Workflow', ['Git', 'Terminal', 'Gulp', "Webpack"]],
          ]
        each skill in skills
          li.skills-group__item
            .skills-group__title #{skill[0]}
            ul.skills-list
              each item in skill[1]
                li.skills-list__item
                  svg(viewbox="0 0 154 154" preserveAspectRatio="none").skill__circle
                    circle(cx="77" cy="77" r="67").skills__circle-under
                    circle(cx="77" cy="77" r="67").skills__circle-above
                  .skill__title #{item}
