include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Dmitriy Kryukov

  body
    .wrapper
      .maincontent    
        include ./sections/author.pug

        //- TRIANGLE TOP
        .triangles.triangles_top
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
            polygon(points="0,100 1000,100 1000,0")
            
        .middle-section
          include ./sections/skills.pug
          include ./sections/works.pug
        
        //- TRIANGLE BOTTOM
        .triangles.triangles_bottom
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
            polygon(points="0,0 1000,0 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
            polygon(points="0,0 0,100 1000,0")

        include ./sections/conclusion.pug

      include ./sections/footer.pug
        

        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg

  